:host {
  flex: 3;
}

mat-card-content {
  max-height: 320px;
  overflow: auto;
}

pre {
  background: black;
  color: white;
  padding: 1em;
  border-radius: 5px;
  font-family:monospace;
  font-size:small;
  margin: 0;
}

.mat-mdc-card-title {
  font-size: 1.2em;
  margin-bottom: 1em;
}
