/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use 'projects/ngx-mat-facet-toolkit/facet-toolkit-theme' as facetToolkit;

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-typography-config());`
@include mat.all-component-typographies();
@include mat.core();

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$light-primary: mat.m2-define-palette(mat.$m2-indigo-palette, 500);
$light-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$light-theme: mat.m2-define-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
  ),
));

$dark-primary: mat.m2-define-palette(mat.$m2-blue-gray-palette, 500);
$dark-accent: mat.m2-define-palette(mat.$m2-amber-palette, A200, A100, A400);
$dark-warn: mat.m2-define-palette(mat.$m2-deep-orange-palette);
$dark-theme: mat.m2-define-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn
  ),
));

@include mat.all-component-themes($light-theme);
@include facetToolkit.theme($light-theme);

.dark-theme {
  @include mat.all-component-colors($dark-theme);
  @include facetToolkit.color($dark-theme);
}
