name: Build Documents

on:
  push:
    branches:
      - 'main'

jobs:
  build:
    name: Build and Generate Documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Use Node 20.x
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Build Library
        run: npm run build
      - name: Link Library
        run: cd dist/ngx-mat-facet-toolkit && npm link
      - name: Link Library to root
        run: npm link @drsutphin/ngx-mat-facet-toolkit
      - name: Build Demo 1
        run: npm run build-demo
      - name: Archive build
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: deploy_docs
          path: docs
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Download build
        uses: actions/download-artifact@v4
        with:
          name: deploy_docs
      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: deploy_docs
