name: Publish

on:
  push:
    tags:
      - 'v*.*.*'

permissions:
  contents: read
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Use Node 20.x
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Check npm version
        run: npm -v
      - name: OIDC env check
        run: node -e "console.log('OIDC URL set:', !!process.env.ACTIONS_ID_TOKEN_REQUEST_URL); console.log('OIDC token set:', !!process.env.ACTIONS_ID_TOKEN_REQUEST_TOKEN)"
      - name: Publish
        run: npm publish ./dist/ngx-mat-facet-toolkit --access public --provenance
